<%- include('common/header') -%>
<div class="row login">
    <h3 class="heading">Session Login Logout</h3><br/>
    <p>Welcome <%=name%> </p>
    <a href="/log-out"> <button type="button" class="btn btn-danger">LogOut</button>
    </a>
    <a href="https://kanhaiyakumar-4060.github.io/contact-us/">Contact us</a>
    </div>

</div>

<%- include('common/footer') -%>